[site] body > .panel.header {
	background: linear-gradient(
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.7));
}

[site] body > .panel.header.picture {
	background:
	linear-gradient(
		rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0.7)
	), url('../Brainerd, Baxter from Air.jpg');
	background-size: cover;
}

[site] body > .panel.header > .header-text {
	flex: 1 0 auto;

	display: flex;
	flex-direction: column;

	justify-content: flex-end;
}

[site] body > .panel.header > .header-text > .name-text {
	flex: 0 1 auto;
	font-size: 80px;
	color: #ffffff;
	font-style: italic;
	font-family: 'Adequate Extra-Light', sans-serif;
	text-align: center;
}

[site] body > .panel.header > .header-text > .tagline-text {
	flex: 0 1 auto;
	color: #bbbbbb;
	font-size: 24px;
	font-family: 'Adequate Extra-Light', sans-serif;
	text-align: center;
}

[site] body > .panel.header > .chevron {
	flex: 1 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

[site] body > .panel.header > .chevron > svg {
	flex: 0 1 auto;

	margin: 16px;
}
