@keyframes introduction-background-fade-in {
	from { background: #010814; }
	to { background: #10203f; }
}

@-webkit-keyframes introduction-background-fade-in {
	from { background: #010814; }
	to { background: #10203f; }
}

.panel.introduction {
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;

	-webkit-animation-name: introduction-background-fade-in;
	animation-name: introduction-background-fade-in;

	-webkit-animation-duration: 2s;
	animation-duration: 2s;

	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;

	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;

	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
