
.panel.landing {
	background-color: #000;
	justify-content: center;
	align-items: center;
}

.panel.landing > * {
	color: #bbb;
}

.panel.landing .centered {
	flex: 0 1 auto;
}

.panel.landing .title.name {
	font-size: 80pt;
}

.panel.landing .tagline {
	text-align: center;
	font-size: 14pt;
}

.landing .centered.name > div.top,
.landing .centered.name > div.bottom {
	display: inline-block;
}

.landing .centered.name .main {
	color: #bbb;
}

.landing .centered.name .aux {
	color: #666;
}

@media (max-width: 300pt) and (min-width: 0pt) {

	.landing .tagline {
		display: none;
	}

	.landing .centered.name .aux {
		display: none;
	}

}

@media (max-width: 500pt) and (min-width: 300pt) {

	.landing .centered.name .aux {
		display: none;
	}

}

@media (min-width: 500pt) {

	.landing .tagline {
		word-spacing: 0.35em;
		letter-spacing: 0.035em;
	}

}
