html[site],[site] body{margin:0px;padding:0px;font-family:Lato,sans-serif;width: 100vw;height: 100vh;overflow-x:hidden;}

@font-face {
	font-family: 'Adequate Extra-Light';
	src: url('../fonts/Adequate-ExtraLight.ttf');
}

[site] body {
	font-family: 'Open Sans', sans-serif;

	background-color: #404040;

	display: flex;
	flex-direction: column;
}

[site] body > * {
	flex: 1 0 auto;

	display: flex;
	flex-direction: row;
}

[site] body > * > .text {
	flex: 1 0 auto;

	display: flex;

	align-items: center;
	justify-content: center;

	flex-direction: row;
}

[site] body > * > .text.center {
	text-align: center;
}

[site] .greeting {
	background-color: #3070a0;
}

[site] .greeting .text {
	flex-direction: column;

	font-size: 180px;

	min-height: 100vh;
	max-height: 100vh;
}

[site] .tagline {
	background-color: #a0a0a0;
}

[site] .tagline .text {
	flex-direction: row;

	font-size: 80px;

	min-height: 60vh;
	max-height: 100vh;
}

[site] .activities {
	background-color: #808080;
	display: flex;
	flex-direction: column;
}

[site] .activities .activity {
	min-height: 20vh;
	max-height: 50vh;

	flex: 1 0 auto;
	text-align: center;

	display: flex;
	flex-direction: row;
	vertical-align: center;
}

[site] .activities .activity:nth-child(odd) {
	background-color: #707070;
}

[site] .activities .activity:nth-child(even) {
	background-color: #505050;
}

[site] .activities .activity .text {
	font-size: 60px;
	flex: 1 0 auto;
	align-self: center;
}
