html[rye-redesigned-site],[rye-redesigned-site] body{margin:0px;padding:0px;font-family:Lato,sans-serif;width: 100%;height: 100%;}

[rye-redesigned-site] body {
	background-color: #404040;
}


[rye-redesigned-site] body p {
	font-family: Lato, Helvetica, sans-serif;

	font-size: 14px;
}

[rye-redesigned-site] div.landing:before {
	width: 100%;
	height: 100%;

	content: "";

	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;

	background: url(../Background-960.png);
	background-size: 100% 100%;

	-webkit-filter: blur(10px) grayscale(20%) brightness(40%);
	-moz-filter: blur(10px) grayscale(20%) brightness(40%);
	filter: blur(10px) grayscale(20%) brightness(40%);
}

[rye-redesigned-site] div.landing {
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	right: 0;
	z-index: 0;

	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

[rye-redesigned-site] div.landing div.author {
	text-align: center;

	width: 10%;
}

@-webkit-keyframes mugshotonload {
	0% {
		width: 0%;
		height: 0%;

		opacity: 0;
	}

	25% {
		width: 100%;
		height: 100%;

		opacity: 0.1;
	}

	100% {
		width: 100%;
		height: 100%;

		opacity: 1;
	}
}

@-moz-keyframes mugshotonload {
	0% {
		width: 0%;
		height: 0%;

		opacity: 0;
	}

	25% {
		width: 100%;
		height: 100%;

		opacity: 0.1;
	}

	100% {
		width: 100%;
		height: 100%;

		opacity: 1;
	}
}

@keyframes mugshotonload {
	0% {
		width: 0%;
		height: 0%;

		opacity: 0;
	}

	25% {
		width: 100%;
		height: 100%;

		opacity: 0.1;
	}

	100% {
		width: 100%;
		height: 100
		%;

		opacity: 1;
	}
}


[rye-redesigned-site] div.landing div.author img.mugshot {
	-webkit-animation: mugshotonload 2s ease;
	-moz-animation: mugshotonload 2s ease;
	animation: mugshotonload 2s ease;

	width: 100%;
	height: 100%;

	border-radius: 50%;
}

[rye-redesigned-site] div.landing div.author p.author-name {
	font-size: 16px;
	font-weight: bold;

	line-height: 16px;
	
	color: #9ca09c;
}

[rye-redesigned-site] div.landing div.author {
}

[rye-redesigned-site] div.landing div.author div.icons {
}

[rye-redesigned-site] div.landing div.author div.icons a,
[rye-redesigned-site] div.landing div.author div.icons a:link,
[rye-redesigned-site] div.landing div.author div.icons a:hover,
[rye-redesigned-site] div.landing div.author div.icons a:active,
[rye-redesigned-site] div.landing div.author div.icons a:visited
{
	color: initial;
	text-decoration: initial;
}

@-webkit-keyframes if{0%{opacity:0;padding-left:0px;padding-right:0px;width:0px;}100%{opacity:1;padding-left:2px;padding-right:2px;}}
@-moz-keyframes if{0%{opacity:0;padding-left:0px;padding-right:0px;width:0px;}100%{opacity:1;padding-left:2px;padding-right:2px;}}
@keyframes if{0%{opacity:0;padding-left:0px;padding-right:0px;width:0px;}100%{opacity:1;padding-left:2px;padding-right:2px;}}

[rye-redesigned-site] div.landing div.author div.icons .first {
	-webkit-animation: if 1s ease-in 3s backwards;
	-moz-animation: if 1s ease-in 3s backwards;
	animation: if 1s ease-in 3s backwards;

	opacity: 1;
	padding-left: 2px;
	padding-right: 2px;
}

[rye-redesigned-site] div.landing div.author div.icons .second {
	-webkit-animation: if 1s ease-in 4s backwards;
	-moz-animation: if 1s ease-in 4s backwards;
	animation: if 1s ease-in 4s backwards;

	opacity: 1;
	padding-left: 2px;
	padding-right: 2px;
}

[rye-redesigned-site] div.landing div.author div.icons .third {
	-webkit-animation: if 1s ease-in 5s backwards;
	-moz-animation: if 1s ease-in 5s backwards;
	animation: if 1s ease-in 5s backwards;

	opacity: 1;
	padding-left: 2px;
	padding-right: 2px;
}

[rye-redesigned-site] div.landing div.author div.icons .fourth {
	-webkit-animation: if 1s ease-in 6s backwards;
	-moz-animation: if 1s ease-in 6s backwards;
	animation: if 1s ease-in 6s backwards;

	opacity: 1;
	padding-left: 2px;
	padding-right: 2px;
}
