html[site],[site] body{margin:0px;padding:0px;font-family:Lato,sans-serif;width: 100vw;height:100vh;}
::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: 'Adequate Extra-Light';
	src: url('../fonts/Adequate-ExtraLight.ttf');
}

[site] body {
	font-family: 'Open Sans', sans-serif;

	background-color: #404040;

	display: flex;
	flex-direction: column;
}

[site] body > * {
	flex: 1 0 auto;

	display: flex;
	flex-direction: row;

	justify-contents: center;
}

[site] body > .panel {
	width: 100vw;
}

[site] body > .panel.header-picture {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.7)
		), url('../Brainerd, Baxter from Air.jpg');
	background-size: cover;

	align-items: center;
}

[site] body > .panel.header-picture > .header-text {
	flex: 1 0 auto;

	display: flex;
	flex-direction: column;
}

[site] body > .panel.header-picture > .header-text > .name-text {
	color: #ffffff;
	font-style: italic;
	font-size: 10vh;
	font-family: 'Adequate Extra-Light', sans-serif;
	text-align: center;
}

[site] body > .panel.header-picture > .header-text > .tagline-text {
	color: #bbbbbb;
	font-size: 3vh;
	font-family: 'Adequate Extra-Light', sans-serif;
	text-align: center;
}
