# Ignore cached SASS files
.sass-cache/

# Ignore built tmp/_server directory
/tmp/_static

# Ignore log files
*.log

# Ignore Phusion Passenger PID files
passenger.*.pid
passenger.*.pid.lock

# Ignore Phusion Passenger configurations (should only be present in production)
Passengerfile.json
