# Ignore cached SASS files
.sass-cache/

# Ignore built tmp/_server directory
/tmp/_static

# Ignore log files
*.log

# Ignore documentation
/docs/*

# Ignore .patch files
*.patch

# Ignore actual redis.conf
/config/redis.conf
