<% @git_describe = `git describe --tags --dirty`.chomp %>

<!doctype html>
<html>
	<head>
		<!-- Load all of the stylesheets -->
		<link rel="stylesheet" href="css/roboto.css" />
		<link rel="stylesheet" href="css/global.css" />
		<link rel="stylesheet" href="css/index.css" />

		<!-- Load the CMU Serif font -->
		<link rel="stylesheet" href="fonts/Computer Modern/Serif/cmun-serif.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="version" content="<%= @git_describe %>" />

		<!-- Android theme-color meta attribute for stylizing Chrome bar -->
		<meta name="theme-color" content="#08519c" />

		<meta name="author" content="Kristofer Rye" />

		<meta name="description" content="Kristofer Rye" />
		<meta name="keywords" content="Kristofer,Rye,Kris,Programmer,Developer,Ruby,HTML,CSS,JavaScript,Sass,Rails,Private,Pilot,Cello" />

		<title>Kristofer Rye</title>
	</head>

	<body class="index computer-modern">
		<div class="hero center-contents trianglify-target" data-width="2048" data-height="2048" data-cell_size="128" data-x_colors="Blues">
			<div class="container">
				<div class="name hero-space-top-padding">
					<span class="first full">kris<span class="aux">tofer</span></span>&nbsp;<span class="last">rye</span>
				</div>

				<div class="tagline">
					<span class="item">Rubyist</span>
					<span class="item">Cellist</span>
					<span class="item">Pilot</span>
				</div>

				<div class="social-links hero-space-top-padding">
					<a class="social-link no-decorate fa fa-2x fa-fw fa-github" aria-hidden="true" href="https://github.com/rye"></a>
					<a class="social-link no-decorate fa fa-2x fa-fw fa-envelope" aria-hidden="true" href="mailto:kristofer.rye+w@gmail.com"></a>
					<a class="social-link no-decorate fa fa-2x fa-fw fa-file-text" aria-hidden="true" href="/resume.html"></a>
					<a class="social-link no-decorate fa fa-2x fa-fw fa-twitter" aria-hidden="true" href="https://twitter.com/krstfrye"></a>
				</div>
			</div>
		</div>

		<!-- VERSION: <%= @git_describe %> -->

		<!-- Load the Trianglify source and our trianglify generator -->
		<script src="js/trianglify.min.js"></script>
		<script src="js/trianglify.js"></script>

		<!-- Load page scripts -->
		<script src="js/global.js"></script>
		<script src="js/index.js"></script>

		<!-- Load Google Analytics -->
		<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-77379897-1','auto');ga('send','pageview');ga('send','event',{'eventCategory':'Page','eventAction':'VersionRegister','eventLabel':'<%= @git_describe %>'})</script>
	</body>
</html>
