* {
	margin: 0px;
	padding: 0px;
}

@mixin fill($width, $height) {
	width: $width;
	height: $height;
}

html,
body {
	@include fill(100%, 100%);

	overflow: {
		x: hidden;
		y: auto;
	}
}

body {
	background-color: #000;
}

p.sha1-marker {
	font-size: 8px;

	position: absolute;
	bottom: 0;
	right: 0;

	text-align: right;

	margin: 4pt;
}
