.computer-modern {
	font-family: 'Computer Modern Serif';
}

.index .hero {
	width: 100%;
	height: 100%;

	color: #a0a0a0;

	.name {
		font-size: 48px;
		font-weight: normal;

		> .first {
			> .aux {
				color: #707070;
				font-weight: normal;
			}
		}
	}

	.tagline {
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 0.125em;

		> .item {
			text-transform: capitalize;
			font-variant: small-caps;
			display: inline;
		}

		> .item:after {
			content: ' · ';
		}

		> .item:nth-child(3n):after {
			content: '\A';
			white-space: pre;
		}

		> .item:last-child:after {
			content: none;
		}
	}
}

.center-contents {
	display: table;

	> * {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

.trianglify-me {
	background-size: cover;
	background-repeat: no-repeat;
}
