// All printing resolutions
@media print {
	::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	.sha1-marker {
		display: none;
	}

	.resume-container {
		margin: 0;
	}

	body { font-size: 10pt; }
}
