.resume-container {
	.header-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.header {
			flex: 0 1 auto;

			font-size: 12pt;
			border: 3pt solid #000;
			padding: 1.85em;

			> * {
				border-bottom: 2pt solid #000;
			}

			> *:last-child {
				border-bottom: none;
			}

			> .name {
				font-size: 32pt;
				text-align: center;
				font-weight: bold;

				padding-top: 0pt;
				padding-bottom: 0pt;
			}

			> .tagline {
				font-size: 18pt;
				text-align: center; // obsolete because flexbox is adjusted to this width
				padding-top: 2pt;
				padding-bottom: 0;
			}
		}
	}
}
